.container{
		width: 900px;
		margin: 0 auto;
	}

	.container .left{
		width: 650px;
		float: left;
	}
	.container .right{
		width: 250px;
		float: left;
	}

	.ui-draggable { -ms-touch-action: none; }

	.ui-draggable-dragging{
		opacity: 0.6;
	}

	textarea{
		width: 500px;
		height: 100px;
		margin-top: 50px;
	}
	div span{
		background-color: lightblue;
		display: inline-block;
		width: 40px;
		height: 40px;
		border: 1px solid grey;
		margin-right: -6px;
		margin-bottom: 0x;

	}

	div span.letter,
	div span.digit{
		text-align: center;
		color: #fff;
		line-height: 40px;
		background-color: lightcoral;
	}

	div span.letter{
		line-height: normal;
	}

	.boat{
		display: inline-block;
		width: 40px;
		height: 40px;
		background-color: grey;
		text-align: center;
		color: #fff;
		line-height: 40px;

		position: absolute;
	}

	.boat2{
		width: 80px;
	}

	.boat3{
		width: 120px;
	}

	.boat4{
		width: 160px;
	}

	.ui-state-highlight{
		background-color: red;
	}