


#stepTwo{
  display: none;
}


#board span{
		background-color: lightblue;
		display: inline-block;
		width: 40px;
		height: 40px;
		border: 1px solid grey;
		margin-right: -6px;
		margin-bottom: 0x;

}

#board span.letter,
#board span.digit{
  text-align: center;
  color: #fff;
  background-color: lightcoral;
}

#board span.letter{

}


/****
Boats
***/
#boats div{
  margin-bottom: 10px;
}

.boat{
  background-color: red;
}

.boat.type-1{
  width: 40px;
  height: 40px;
}

.boat.type-2{
  width: 80px;
  height: 40px;
}

.boat.type-3{
  width: 120px;
  height: 40px;
}

.boat.type-4{
  width: 160px;
  height: 40px;
}

.boat.type-5{
  width: 200px;
  height: 40px;
}
